.h1-tag{
  grid-column: 1 / span 1;
  grid-row-start: 1;
}

  .contact-container{
    font-size: 15px;
    line-height: 17px;
  }

  .contact-box, .social{
    margin-top: 2.5vh;
  }

  .adresse1, .adresse2{
    display: inline-block;
    margin-bottom: 15px;
  }

/* BRP1 Smartphones  ---------------------------------------------------------*/
@media screen and (max-width: 991px ) {
  .h1-tag{
    margin-top: 19.5vh;
  }

  h1{
    grid-column: 1 / span 8;
    grid-row-start: 2;
  }

  .contact-container{
    grid-column: 1 / span 8;
    grid-row-start: 3;
    margin-top: 2.5vh;
  }

  .adresse1{
    margin-right: 12.6vw;
  }

  .contact-img{
    grid-row-start: 4;
    width: 89vw;
    margin-top: 3.6vh;
  }
}

/* BRP3 Desktop (klein)  -----------------------------------------------------*/
@media screen and (min-width: 992px) {
  .scrollcontainer{
    min-height: 95.8vh;
  }

  .h1-tag{
    margin-top: 22.22vh;
  }

  h1{
    grid-column: 1 / span 3;
    grid-row-start: 2;
  }

  .contact-container{
    grid-row-start: 2;
    grid-column: 6 / span 3;
  }

  .adresse1{
    margin-right: 4.7vw;
  }

  .contact-img{
    grid-column: 1 / span 3;
    grid-row-start: 2;
    /* justify-self: bottom; */

    /* position: absolute;
    bottom: 0;
    padding-top: 100px; */

    margin-top: 5.8vh;
    padding-top: 100px;
    /* margin-bottom: 4.2vh; */

    /* width: 41.67vw; */
    width: 30vw;
    /* max-width: 700px; */
    /* max-height: 612px; */
  }
}
