.header-vid{
  grid-row-start: 1;
}

.h1-tag{
  grid-column: 1 / span 1;
  grid-row-start: 1;
}

.h2-tag{
  grid-column: 1 / span 1;
  grid-row-start: 1;
}

h2{
  grid-column: 1 / span 8;
  grid-row-start: 2;
}

/* BRP1 Smartphones  ---------------------------------------------------------*/
@media screen and (max-width: 991px ) {
  /* ----------- Header ----------- */
  .header-vid{
    margin-top: 30vh;
    width: 89vw;
  }

  .teaser-img1, .teaser-img2{
    display: none;
  }

  .teaser-img1-mobile{
    grid-row-start: 2;
    grid-column: 1 / span 6;
    width: 73vw;
    margin-top: 15vh;
  }

  .teaser-img2-mobile{
    grid-row-start: 3;
    grid-column: 4 / span 5;
    width: 57.5vw;
    margin-top: 1.8vh;
  }

  /* ----------- About ----------- */
  .about{
    margin-top: 15.5vh;
  }

  h1{
    grid-column: 1 / span 8;
    grid-row-start: 2;
  }

  .about-text{
    grid-column: 1 / span 6;
    grid-row-start: 3;
    margin-top: 5.28vh;
  }

  /* ----------- Pictures ----------- */
  .pics{
    margin-top: 18.7vh;
  }

  .about-img1{
    grid-column: 1 / span 6;
    width: 73vw;
  }

  .about-img2{
    grid-column: 5 / span 4;
    margin-top: 2.37vh;
    width: 44.5vw;
  }

  .motto{
    margin-top: 20.9vh;
    padding-bottom: 20.5vh;
  }
}

/* BRP3 Desktop (klein)  -----------------------------------------------------*/
@media screen and (min-width: 992px) {
  /* ----------- Header ----------- */
  .header-vid{
    margin-top: 22vh;
    width: 45vw;
  }

  .teaser-img1-mobile, .teaser-img2-mobile{
    display: none;
  }

  .teaser-img1, .teaser-img2{
    margin-top: 10vh;
    grid-row-start: 2;
  }

  .teaser-img1{
    grid-column: 1 / span 5;
    width: 61vw;
  }

  .teaser-img2{
    grid-column: 7 / span 2;
    width: 16vw;
  }

  /* ----------- About ----------- */
  .about{
    margin-top: 12.5vh;
  }

  h1{
    grid-column: 1 / span 4;
    grid-row-start: 2;
  }

  .about-text{
    grid-column: 5 / span 2;
    grid-row-start: 2;
  }

  /* ----------- Pictures ----------- */
  .pics{
    margin-top: 20.8vh;
  }

  .about-img1{
    grid-column: 2 / span 4;
    width: 53vw;
  }

  .about-img2{
    grid-column: 6 / span 2;
    margin-top: 44.44vh;
    justify-self: end;
    width: 22.19vw;
  }

  /* ----------- Motto ----------- */
  .motto{
    margin-top: 15.83vh;
    padding-bottom: 21.11vh;
  }
}
