/* FONTS ------------------------------------------------ */
@font-face {
    font-family: 'Calibri';
    src: url('./assets/font/calibri_bold.woff2') format('woff2'),
         url('./assets/font/calibri_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('./assets/font/calibri_bold_italic.woff2') format('woff2'),
         url('./assets/font/calibri_bold_italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

/* GENERAL ---------------------------------------------- */
body {
    margin: 0;
    padding: 0;

    background-color: #000000;
    color: #ffffff;

    overflow-x: hidden;

    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6, a, p {
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.cancel {
    position: fixed;
    top: 0;
    padding: 30px;
    z-index: 999;
}

.caps {
    text-transform: uppercase;
}

.content-container, .experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%; 
}

.content-container {
    justify-content: center;
    gap: 20vh;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-container img {
    /* width: 25vw; */
    width: 100px;
}

/* @media only screen and (min-width: 1000px) {
    .link-container img {
        width: 100px;
    }
  } */



.link-container p {
    margin-top: 20px;
    font-weight: 700;
}


/* EXPERIENCE PAGE ---------------------------------------*/

/* testing */
/* #mqtt-messages-container {
    border : 1px solid #ffffff;
    padding: 20px;
} */
/* ------- */

.experience-container {
    justify-content: space-between;
}

.description, .icon, .final {
    display: none;
    opacity: 0;
    transition: opacity 1s;
}

.description.active, .icon.active, .final.active {
    display: block;
    opacity: 1;
   
}

.icon {
    margin-bottom: 200px;
}

.description {
    margin-top: 250px;
}

.final {
    margin-top: 35vh;
}

.final	img {
    width: 315px;
}

.final p {
    margin-top: 15px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}




/* VIDEO PAGE ------------------------------------------- */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 50px;
    padding: 20px;
}

.vidhead{
    margin-top: 15vh;
    margin-left: 10vw;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 32px;
}

.video-container {
    position: relative;
    background-color: #ffffff;

    width: 80vw;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}