/* FONTS ------------------------------------------------ */
@font-face {
    font-family: 'Calibri';
    src: url('./assets/font/calibri_bold.woff2') format('woff2'),
         url('./assets/font/calibri_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('./assets/font/calibri_bold_italic.woff2') format('woff2'),
         url('./assets/font/calibri_bold_italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/font/proxima_nova_extrabold.woff2') format('woff2'),
         url('./assets/font/proxima_nova_extrabold.woff') format('woff');
}

/* GENERAL ---------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

/* @media screen and (orientation: landscape) {
    body {
        transform: rotate(90deg);
        transform-origin: center;
    }
} */

h1, h2, h3, h4, h5, h6, a, p {
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.cancel {
    position: fixed;
    top: 0;
    padding: 38px 5vw;
    z-index: 999;
}

.caps {
    text-transform: uppercase;
}

.content-container, .experience-container, .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100svh;
    width: 100%; 
}

.content-container {
    justify-content: center;
    gap: 20svh;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-container img {
    /* width: 25vw; */
    width: 80px;
}

.link-container p {
    margin-top: 20px;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 24px;
}


/* EXPERIENCE PAGE ---------------------------------------*/
.experience-container {
    justify-content: space-between;
}

.description, .icon, .final {
    display: none;
    opacity: 0;
    transition: opacity 1s;
}

.description.active, .icon.active, .final.active {
    display: block;
    opacity: 1;
   
}

.icon {
    margin-bottom: 20svh;
    width: 64px;
}

.description {
    margin-top: 250px;
}

.final {
    margin-top: 35vh;
}

.final	img {
    width: 250px;
}

.final p {
    margin-top: 24px;
    font-family: 'Calibri', sans-serif2;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

/* VIDEO PAGE ------------------------------------------- */
.video-h{
    text-align: center;
    margin-top: 40px;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 24px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 5svh;
    margin-top: 6svh;
    /* padding: 0 36px 0; */
}

.gallery p{
    font-size: 20px;
}

.video-wrapper {
    position: relative;
    background-color: #ffffff;
    width: 90vw;
    height: auto;
    overflow: hidden;
    /* width: 100%; */
    /* aspect-ratio: 16 / 9; */
    /* height: 45vw; */
}

.tn {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.video-overlay.active {
    opacity: 1;
}

.play-pause-button {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.play-pause-button.playing {
    background-color: #00000093;
}

.play-icon, .pause-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
}

.play-pause-button .pause-icon {
    opacity: 0;
}

.play-pause-button.playing .play-icon {
    opacity: 0;
}

.play-pause-button.playing .pause-icon {
    opacity: 1;
}
