:root{
  --bg-color: rgb(20,20,20);
  --color: rgb(240,240,240);
  --card-color: rgb(23,23,23);
}

/* Fonts ----------------------------------------------------------------------------------------------*/ 
@font-face {
  font-family: 'Anderson Grotesk';
  src:
		url('assets/fonts/AndersonGrotesk-Bold.woff2') format('woff2'),
    url('assets/fonts/AndersonGrotesk-Bold.woff') format('woff');
	font-weight: 400;
}

@font-face {
  font-family: 'Anderson Grotesk';
  src:
		url('assets/fonts/AndersonGrotesk-Ultrabold.woff2') format('woff2'),
    url('assets/fonts/AndersonGrotesk-Ultrabold.woff') format('woff');
	font-weight: 700;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--color);
  font-family: 'Red Hat Mono', monospace;
}

/* Navigation ----------------------------------------------------------------------------------------------*/ 
nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  overflow: hidden;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  box-shadow: 0 0px 10px 12px var(--bg-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  transition: color .3s , text-shadow .3s;
}

li a:hover:not(.active) {
  color: #6bffc9;
  text-shadow: 0 0 5px #48FFBD;
}
  
.active {
  color: #6bffc9;
  text-shadow: 0 0 5px #48FFBD;
}

a{
  color: var(--color);
  text-decoration: none;
}

input[type="checkbox"] {
  height: 40px;
  width: 148px;
  -webkit-appearance: none;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.50) inset, -2px -2px 2px 0px rgba(255, 255, 255, 0.25) inset;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center ;
  color: var(--color);
  cursor: pointer;
}

input[type="checkbox"]:after {
  font-family: 'Red Hat Mono', monospace;
  content: 'Get in touch';
}

input[type="checkbox"]:checked {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.50) inset, -2px -2px 2px 0px rgba(255, 255, 255, 0.25) inset;
}

.outline{
  height: 28px;
  width: 136px;
  border-radius: 20px;
  position: absolute;
  border: 1px solid #48FFBD;
  transition: box-shadow .3s;
  /* pointer-events: none; 
  background: url(background); */
}

.contact{
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center ;
}

.contact:hover > .outline{
  box-shadow: 0 0 5px #48FFBD;
}

/* Main ----------------------------------------------------------------------------------------------*/ 
main{
  display: grid;
}

h1, h2{
  padding: 0;
  margin: 0;
  font-family: 'Anderson Grotesk', sans-serif;
}

h1{
  font-weight: 700;
}

h2{
  font-weight: 400;
}

.about-img{
  overflow: hidden;
  background-image: url("assets/ph.png");
  border-radius: 20px;
}

.long-txt{
  display: grid;
}

/* Cards ----------------------------------------------------------------------------------------------*/ 
.project-wrapper {
  display: flex;
  align-items: center ;
  justify-content: center;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center ;
  justify-content: center;
}

.card{
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  border-radius: 20px;
}

.card:hover::before,
.card:hover > .card-border  {
  opacity: 1;
}

.card::before,
.card > .card-border {
  border-radius: inherit;
  content: "";

  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 500ms;
  width: 100%;
}

.card::before{
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255,0.15),
    transparent 40%
  );
  z-index: 3;
}

.card > .card-border {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255,0.3),
    transparent 40%
  );
  z-index: 1;
}
  
.card > .card-content{
  position: relative;
  background-color: var(--card-color);
  border-radius: inherit;
  margin:1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  z-index: 2;
}

.card-content{
  overflow: hidden;
}

.card-img{
  width: 100%;
  height: 50%;
  opacity: 40%;
}

.card-txt{
  margin: 0 10px;
}

.card-title{
  margin-top: 10px;
}

/* Footer ----------------------------------------------------------------------------------------------*/
footer {
  width: 100%;
  z-index: 19;
  overflow: hidden;
  background-color: var(--bg-color);
}
  
.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between ;
}
  
/* Breakpoints ----------------------------------------------------------------------------------------------*/

/* BRP1 -Smartphones/Tablets --------------------------------------------------------------------------------*/
/* (Unter 992px) */
  
@media screen and (max-width: 991px ) {
  body{
    font-size: 12px;
  }

  /* Navigation */
  nav{
    padding: 15px 0;
  }

  .logo{
    margin-left: 4vw;
  }

  li a{
    padding: 0px 0px 0px 20px;
  }

  input[type="checkbox"]:after{
    font-size: 12px;
  }

  .contact{
    margin-right: 4vw;
  }

  /* Main */
  main{
    margin: 60px 4vw 5vh 4vw;
  }

  section{
    margin: 2vh 0;
  }

  h1{
    font-size: 64px;
  }

  h2{
    font-size: 32px;
  }

  .header{
    margin: 8vh 0 0 4px;
  }

  .about-img{
    width: clamp(300px, 15vw, 500px);
    height: clamp(420px, 45vh, 700px);
    margin: 5vh auto 0 auto;
  }

  /* Cards */
  .cards{
    gap: 3vh;
  }

  .card{
    height: clamp(240px, 40vh, 400px);
  }

  .card-title{
    font-size: 24px;
  }

    /* Footer */
    footer{
      padding: 10px 0;
    }
  
    .footer-container{
      margin: 0 4vw;
    }
}

/* BRP2 -Desktop --------------------------------------------------------------------------------------------*/
/* (Über 992px) */

@media screen and (min-width: 992px) {
  body{
    font-size: 14px;
  }

  /* Navigation */
  nav{
    padding: 30px 0;
  }

  .logo{
    margin-left: 3vw;
  }

  li a{
    padding: 0px 0px 0px 40px;
  }

  input[type="checkbox"]:after{
    font-size: 14px;
  }

  .contact{
    margin-right: 3vw;
  }

  /* Main */
  main{
    margin: 80px 3vw 5vh 3vw;
  }

  section{
    margin: 5vh 0;
  }

  h1{
    font-size: 80px;
  }

  h2{
    font-size: 40px;
  }

  .header{
    margin: 4vh 50vw 0 80px;
  }

  .about{
    display: flex;
    align-items: top;
  }

  .about-img{
    position: absolute;
    width: clamp(300px, 15vw, 500px);
    height: clamp(420px, 45vh, 700px);
    margin: 5vh 0px 0 50vw;
  }

  .long-txt{
    margin: 0 10vw 0 80px;
    gap: 3vw;
    grid-template-columns: 1fr 1fr;
  }
    
  /* Cards */
  .cards{
    gap: 2vw;
    max-width: 80vw;
    width: calc(100% - 20px);
  }

  .card{
    height: clamp(240px, 36vh, 400px);
    width: clamp(200px, 25vw, 400px);
  }

  .card-title{
    font-size: 24px;
  }

  /* Footer */
  footer{
    padding: 20px 0;
  }

  .footer-container{
    margin: 0 3vw;
  }
}